
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>result</title>
</head>
<body>

    Result of the numbers entered is : @ViewBag.Result
</body>
</html>
